/test
/bckup
/src/temp
/src/__pycache__
/.vscode
/src/temp/__last_run__.log
.gitignore
/venv
Notes.txt
src/temp/*
*.log
/src/temp/__TempStream__.gcode
/src/temp/__last_run__.log
/src/test/
/src/__pycache__/*
/src/logs
/src/test_*
/src/typed_tree_demo.py
/src/Devices
/scripts
test_*
