# ------------------------------------
# Configuration File V1.0 For reading reports and data from different Machine interfaces
# F. Garcia 10.2020
# ------------------------------------
# actions will be executed from the MachineCommandConfig.config File actions.
# Interfaces must contain the same number and matching Ids of the ones defined in MachineCommandConfig.config
# in this file will store regex configurations for matching the interface responses.
# each interface has its own format to report data as positions,temperatures
# all actions in this file will be read in the read routine and the matching parameters will be returned in a dictionary.
# regex pattern code is given inside the following r'code_to_match' else interpreted as string
# incorrect regex code will not get data from the device interface. check the correct regular expression in https://pythex.org/
# [#{param}] include the match group number # as integer and the parameter to store it in the dictionary.
# example: <r'XPos:([+-]?[0-9]*[.][0-9]+)'[1{Xpos}]> will match the pattern in r'' and set Xpos parameter to the first matching value.
# You can call parameters after from loops
# Required parameters to be found to read: ACK,STATUS or STATE_XYZ,XPOS,YPOS,ZPOS
# Unrecognized commands will be printed in the log
# ------------------------------------
<interfaceId>_<0>_<1>_<2>_<3>
<acknowledgecommandexecutedRead>_<>_<>_<r'([oO][kK])'[1{ACK}]>_<>
<acknowledgecommandreceivedRead>_<r'([oO][kK])'[1{ACKCMD}]>_<>_<>_<>
<errorRead>_<r'[Ee][rR]{2}[oO][rR](.*)'[1{ERROR}]>_<>_<r'[Ee][rR]{2}[oO][rR](.*)'[1{ERROR}]>_<>
<alarmRead>_<r'[Aa][lL][aA][rR][mM](.*)'[1{ALARM}]>_<>_<r'[Aa][lL][aA][rR][mM](.*)'[1{ALARM}]>_<>
<infoRead>_<r'^\[(.*)\]'[1{INFO}]>_<>_<r'^echo:(.*)]'[1{INFO}]>_<>
<actionRead>_<>_<>_<r'action(.*)'[1{ACTION}]>_<>
<configRead>_<r'^(\$.*)=([^\s]+)(.*)'[1{ConfCMD}][2{ConfValue}][3{ConfInfo}]>_<>_<>_<>
# state is numerical value equivalent to status
<stateRead>_<>_<>_<r'S_XYZ:([0-9]+)'[1{STATE_XYZ}]>_<>
<temperaturesRead>_<>_<>_<>_<>
<positionResponseRead>_<r'[<](\w*),MPos:([+-]?[0-9]*[.][0-9]+),([+-]?[0-9]*[.][0-9]+),([+-]?[0-9]*[.][0-9]+),([+-]?[0-9]*[.][0-9]+),WPos:([+-]?[0-9]*[.][0-9]+),([+-]?[0-9]*[.][0-9]+),([+-]?[0-9]*[.][0-9]+),([+-]?[0-9]*[.][0-9]+),Ctl:(\d{8})[>]'[1{STATUS}][2{MXPOS}][3{MYPOS}][4{MZPOS}][5{MAPOS}][6{XPOS}][7{YPOS}][8{ZPOS}][9{APOS}][10{CTL}]>_<>_<r''X:([+-]?[0-9]*[.][0-9]+)\sY:([+-]?[0-9]*[.][0-9]+)\sZ:([+-]?[0-9]*[.][0-9]+)\sE:([+-]?[0-9]*[.][0-9]+)\sCount\sX:([+-]?[0-9]*)\sY:([+-]?[0-9]*)\sZ:([+-]?[0-9]*)'[1{XPOS}][2{YPOS}][3{ZPOS}][4{EPOS}][5{MXPOS}][6{MYPOS}][7{MZPOS}]>_<>

