# ------------------------------------
# Configuration File V1.0 For different Machine interfaces
# F. Garcia 10.2020
# ------------------------------------
# <action_Name>_<interface 0>_<interface 1> ... etc
# No command Leave empty <>
# {param} replaces the parameter param with the value given
# Example: <X{x}> will return X20.3 when parameter 'x'=20.3
# {actionName} will replace the action Format of the same interface 
# {actionName(interfaceId)} will replace the action Format of the specified interface id 
# {char(##)} ## in decimal or {char(0x##)} ## in hexadecimal will replace the special character in utf-8 
# example: <{char(0x18)}> is ctrl+x
# [] optional (must contain parameters in {} to be taken in count) 
# [opt1{param}]||[opt2{param}] "or" to select between options 
# example: [X{X}]||[X{x}] will return X5 if either parameter 'x' or 'X' are 5, first find has priority (X in this case). Will not return anything if no X or x parameters are defined.
# [&&(N)] at least parameters for N optional sets must be present  
# example: [&&(1)][X{X}]||[X{x}] will return missing parameter error if X and x are not defined
# example: [&&(1)][X{X}][Y{Y}] will return missing parameter error if at least 1 of them is not defined.
# Special characters:
# \n enter inside. Allows multiple commands per command


# ------------------------------------
<interfaceId>_<0>_<1>_<2>_<3>
<interfaceName>_<Grbl V1.1>_<TinyG V.x>_<Marlin V2.0.x>_<Rep_Rap>
<test>_<[&&(1)]{coordSet}>_<!\%>_<M410>_<???>
<quickPause>_<!>_<!>_<P000>_<>
<quickResume>_<~>_<~>_<R000>_<>
<quickStop>_<{quickPause}\n{softReset}>_<{quickPause}{queueFlush}>_<M410>_<>
<queueFlush>_<{softReset}>_<%>_<>_<>
<statusReport>_<?>_<?>_<M114>_<>
<movingstatusReport>_<?>_<?>_<S000>_<>
<userPause>_<M0>_<M0>_<M0>_<>
<userResume>_<~>_<M60>_<M108>_<>
<clearAlarm>_<^X>_<char(24)>_<M108>_<>
<softReset>_<^X>_<char(0x18)>_<>_<>
<emergencyKill>_<^X>_<char(0x18)>_<M112>_<>
<timedPause>_<M0 [P{P}]||[S{S}]>_<M0 [P{P}]||[S{S}]>_<M0 [P{P}]||[S{S}]>_<>
<programPause>_<M0 [P{P}][S{S}]>_<M0 [P{P}][S{S}]>_<M0 [P{P}][S{S}]>_<>
<programResume>_<{userResume}>_<{userResume}>_<{userResume}>_<>
<programStop>_<>_<M60>_<>_<>
<Comment>_<;{msg}>_<;{msg}>_<({msg})>_<>
<Message>_<({msg})>_<({msg})>_<M117 {msg}>_<>
<Home>_<$H>_<G28[{par}]>_<G28[ {par}]>_<>
<HomeX>_<>_<G28.1>_<G28 X>_<>
<HomeY>_<>_<G28.2>_<G28 Y>_<>
<HomeZ>_<>_<G28.3>_<G28 Z>_<>
<Park>_<>_<>_<G27>_<>
<autoBedLevel>_<>_<>_<G29[ {par}]>_<G32[ P{P}][ S{S}]>
<coordSet>_<[&&(1)][ X{X}][ Y{Y}][ Z{Z}][ A{A}]>_<[&&(1)][ X{X}][ Y{Y}][ Z{Z}][ E{E}]>_<[&&(1)][ X{X}][ Y{Y}][ Z{Z}][ E{E}][ F{F}]>_<[&&(1)][ X{X}][ Y{Y}][ Z{Z}][ E{E}][ F{F}][ R{R}][ S{S}][ H{H}]>
<rapidMove>_<G0{coordSet}>_<G0{coordSet}>_<G0{coordSet}>_<G0{coordSet}>
<linearMove>_<G1{coordSet}[ F{F}]>_<G1{coordSet}[ F{F}]>_<G1{coordSet}>_<G1{coordSet}>
<arcSet>_< X{X} Y{Y} I{I} J{J}>_< X{X} Y{Y} I{I} J{J}]>_< X{X} Y{Y} I{I} J{J}>_< X{X} Y{Y} I{I} J{J}>
<clockwiseArcMove>_<G2{arcSet}[ A{A}][ F{F}]>_<G2{arcSet}[ E{E}][ F{F}]>_<G2{arcSet}[ E{E}][ F{F}]>_<G2{arcSet}[ E{E}][ F{F}][ R{R}][ S{S}][ H{H}]>
<counterclockwiseArcMove>_<G3{arcSet}[ A{A}][ F{F}]>_<G3{arcSet}[ E{E}][ F{F}]>_<G3{arcSet}[ E{E}][ F{F}]>_<G3{arcSet}[ E{E}][ F{F}][ R{R}][ S{S}][ H{H}]>
<dwell>_<G4 S{S}>_<G4 [&&(1)][S{S}]||[P{P}]>_<G4 [&&(1)][S{S}]||[P{P}]>_<G4 [&&(1)][S{S}]||[P{P}]>
<retractFilament>_<{relativePositioning}\nG0 A{dA}\n{absolutePositioning}>_<relativePositioning}\nG0 E{dE}\n{absolutePositioning}>_<G10>_<G10>
<unretractFilament>_<{relativePositioning}\nG0 A-{dA}\n{absolutePositioning}>_<relativePositioning}\nG0 E-{dE}\n{absolutePositioning}>_<G11>_<G11>
<absolutePositioning>_<G90>_<G90>_<G90>_<G90>
<relativePositioning>_<G91>_<G91>_<G91>_<G91>
<cleanTool>_<>_<>_<G12 [P{P}][ S{S}][ T{T}]>_<>
<plainSelectionXY>_<G17>_<G17>_<G17>_<G17>
<plainSelectionZX>_<G18>_<G18>_<G18>_<>
<plainSelectionYZ>_<G19>_<G19>_<G19>_<>
<setUnitstoinches>_<G20>_<G20>_<G20>_<G20>
<setUnitstomm>_<G21>_<G21>_<G21>_<G21>
<setZprobeheadoffset>_<>_<>_<M851 [&&(1)][ X{X}][ Y{Y}][ Z{Z}]>_<>
<singleZProbe>_<>_<>_<G30 [&&(1)][ X{X}][ Y{Y}][ Z{Z}][ P{P}][ S{S}][ H{H}]>_<G30 [&&(1)][ X{X}][ Y{Y}][ Z{Z}][ P{P}][ S{S}][ H{H}]>









