# ------------------------------------
# Configuration File V1.0 For different Machine interfaces
# F. Garcia 10.2020
# ------------------------------------
# <Event_used>_<interface 0>_<interface 1> ... etc
# Commands include format using format specifiers in C
# [] optional, || or, && and
# \n enter inside. Allows multiple commands per command
# \% character %
# No command Leave empty
# char(##)decimal or char(0x##) hexadecimal <-special character in utf-8 
# ------------------------------------
<interfaceId>_<0>_<1>_<2>_<3>
<interfaceName>_<Grbl V1.1>_<TinyG V.x>_<Marlin V2.0.x>_<Rep_Rap>
<quickPause>_<!>_<!>_<P000>_<>
<quickResume>_<~>_<~>_<R000>_<>
<quickStop>_<!\n^X>_<!\%>_<M410>_<>
<queueFlush>_<>_<\%>_<>_<>
<statusReport>_<?>_<?>_<M114>_<>
<movingstatusReport>_<?>_<?>_<S000>_<>
<userPause>_<M0>_<M0>_<M0>_<>
<userResume>_<~>_<M60>_<M108>_<>
<clearAlarm>_<^X>_<char(24)>_<M108>_<>
<softReset>_<^X>_<char(24)>_<M108>_<>
<timedPause>_<M0 >_<M0 >_<M0 [P%u]||[S%u]>_<>
<programStop>_<>_<M60>_<>_<>
<Comment>_<;%s>_<;%s>_<(%s)>_<>
<Message>_<(%s)>_<(%s)>_<M117 %s>_<>
<Home>_<$H>_<G28[.1]||[.2]||[.3]>_<G28 [X]||[Y]||[Z]>_<>
<HomeX>_<>_<G28.1>_<G28 X>_<>
<HomeY>_<>_<G28.2>_<G28 Y>_<>
<HomeZ>_<>_<G28.3>_<G28 Z>_<>
<Park>_<>_<>_<G27>_<>
<autoBedLevel>_<>_<>_<G29>_<>
<rapidMove>_<G0[ X%f][ Y%f][ Z%f][ A%f]>_<G0[ X%f][ Y%f][ Z%f][ E%f]>_<G0[ X%f][ Y%f][ Z%f][ E%f][ F%d]>_<G0[ X%f][ Y%f][ Z%f][ E%f][ F%d][ R%d][ S%d][ H%d]>
<linearMove>_<G1[ X%f][ Y%f][ Z%f][ A%f][ F%f]>_<G0[ X%f][ Y%f][ Z%f][ E%f][ F%f]>_<G0[ X%f][ Y%f][ Z%f][ E%f][ F%d]>_<G1[ X%f][ Y%f][ Z%f][ E%f][ F%d][ R%d][ S%d][ H%d]>
<clockwiseArcMove>_<G2 X%f Y%f I%f J%f [ A%f][ F%f]>_<G2 X%f Y%f I%f J%f[ E%f][ F%f]>_<G2 X%f Y%f I%f J%f[ E%f][ F%d]>_<G2 X%f Y%f I%f J%f[ E%f][ F%d][ R%d][ S%d][ H%d]>
<counterclockwiseArcMove>_<G3 X%f Y%f I%f J%f [ A%f][ F%f]>_<G3 X%f Y%f I%f J%f[ E%f][ F%f]>_<G3 X%f Y%f I%f J%f[ E%f][ F%d]>_<G4 X%f Y%f I%f J%f[ E%f][ F%d][ R%d][ S%d][ H%d]>
<dwell>_<G4 S%d>_<G4 &&[S%d]||[P%d]>_<G4 &&[S%d]||[P%d]>_<G4 &&[S%d]||[P%d]>


